html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

html {
    position: relative;
    min-height: 100%;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 160px;
}

#main-h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: #ffc93c;
    text-align: center;
}

#error-message {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #d00621;

}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-href {
    color: #ffc93c;
    text-decoration: none;
    transition: color 300ms;
}

#footer-href:hover {
    color: #ffc94c;
}

#back-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: left 300ms;
    position: absolute;
    top: 20px;
    left: -40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

#back-button:hover {
    left: 0;
}

#left-arrow {
    height: 80%;
}

.info-div {
    text-align: center;
}

.info-div span, strong {
    white-space: nowrap;
}

@media (max-width: 768px) {
    #main-section {
        padding-top: 80px;
        font-size: 25px;
    }
    .info-div span{
        font-size: 20px;
        white-space: normal;

    }

}
